In [20]:
# Dependencies
import pandas as pd
from pathlib import Path

In [43]:
# set path
original_data = "Resources/Australian_Shark_Incident_Database_Public_Version.csv"

# read the file
# read the csv file into pandas and remove unnamed columns
original_df = pd.read_csv(original_data, encoding = "CP1252")
original_df

,UIN,Incident.month,Incident.year,Victim.injury,State,Location,Latitude,Longitude,Site.category,Site.category.comment,...,Spring.or.neap.tide,Tidal.cycle,Wind.condition,Weather.condition,Air.temperature.Â°C,Personal.protective.device,Deterrent.brand.and.type,Data.source,Reference,Unnamed: 59
0,1,1,1791,fatal,NSW,near sydney,-33.86666667,151.2,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,book,"shark&survl, whitley 1958, book ref 1793",NaN
1,2,3,1803,injured,WA,"hamelin bay, faure island",-25.83333333,113.8833333,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,book,"balgridge,green,taylor,whitley 1940",NaN
2,3,1,1807,injured,NSW,"cockle bay, sydney harbour",-33.86666667,151.2,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,sydney gazette 18.1.1807,NaN
3,4,1,1820,fatal,TAS,"sweetwater point, pitt water",-42.8,147.5333333,coastal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,witness account,"shark&survl, c. black researcher",NaN
4,5,1,1825,injured,NSW,"kirribili point, sydney harbour",-33.85,151.2166667,estuary/harbour,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media outlet,maitland daily mercury 13.11.1899,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223,1224,11,2023,injured,QLD,clack Island,-14.06549,144.26335,coastal,island,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1224,1225,12,2023,injured,WA,wedge island,-30.81556,115.19234,island open ocean,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1225,1226,12,2023,injured,NSW,"old bar, taree",-31.9694,152.5863946,coastal,bay to open ocean,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1226,1227,12,2023,fatal,SA,"ethel beach, yorke penninsula",-34.679356,137.684906.,coastal,bay to open ocean,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1227,1228,1,2024,injured,SA,eyre penninsula,-34.3333,135.7500.,coastal,bay to open ocean,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
original_df.dtypes

UIN                              int64
Incident.month                   int64
Incident.year                    int64
Victim.injury                   object
State                           object
Location                        object
Latitude                        object
Longitude                       object
Site.category                   object
Site.category.comment           object
Shark.common.name               object
Shark.scientific.name           object
Shark.identification.method     object
Shark.identification.source     object
Shark.length.m                 float64
Basis.for.length                object
Provoked/unprovoked             object
Provocative.act                 object
No.sharks                      float64
Victim.activity                 object
Fish.speared?                   object
Commercial.dive.activity        object
Object.of.bite                  object
Present.at.time.of.bite         object
Direction.first.strike          object
Shark.behaviour                 object
Victim.aware.of.shark           object
Shark.captured                  object
Injury.location                 object
Injury.severity                 object
Victim.gender                   object
Victim.age                     float64
Victim.clothing                 object
Clothing.coverage               object
Dominant.clothing.colour        object
Other.clothing.colour           object
Clothing.pattern                object
Fin.colour                      object
Diversionary.action.taken       object
Diversionary.action.outcome     object
People <3m                     float64
People 3-15m                   float64
Time.of.incident               float64
Depth.of.incident.m            float64
Teeth.recovered                 object
Time.in.water.min              float64
Water.temperature.Â°C           float64
Total.water.depth.m            float64
Water.visability.m             float64
Distance.to.shore.m            float64
Spring.or.neap.tide            float64
Tidal.cycle                     object
Wind.condition                  object
Weather.condition               object
Air.temperature.Â°C             float64
Personal.protective.device      object
Deterrent.brand.and.type        object
Data.source                     object
Reference                       object
Unnamed: 59                    float64
dtype: object

In [45]:
# keep relevant columns
original_df = original_df[['Incident.year',
                           'Victim.injury',
                           'State',
                           'Latitude',
                           'Longitude',
                           'Shark.common.name',
                           'Shark.scientific.name',
                          'Provoked/unprovoked',
                          'Site.category',
                          'Incident.month']]
original_df

,Incident.year,Victim.injury,State,Latitude,Longitude,Shark.common.name,Shark.scientific.name,Provoked/unprovoked,Site.category,Incident.month
0,1791,fatal,NSW,-33.86666667,151.2,white shark,Carcharodon carcharias,unprovoked,coastal,1
1,1803,injured,WA,-25.83333333,113.8833333,tiger shark,Galeocerdo cuvier,unprovoked,coastal,3
2,1807,injured,NSW,-33.86666667,151.2,bull shark,Carcharhinus leucas,unprovoked,estuary/harbour,1
3,1820,fatal,TAS,-42.8,147.5333333,NaN,NaN,provoked,coastal,1
4,1825,injured,NSW,-33.85,151.2166667,bull shark,Carcharhinus leucas,unprovoked,estuary/harbour,1
...,...,...,...,...,...,...,...,...,...,...
1223,2023,injured,QLD,-14.06549,144.26335,unknown,NaN,provoked,coastal,11
1224,2023,injured,WA,-30.81556,115.19234,bronze whaler shark,Carcharhinus brachyurus,unprovoked,island open ocean,12
1225,2023,injured,NSW,-31.9694,152.5863946,unknown,NaN,unprovoked,coastal,12
1226,2023,fatal,SA,-34.679356,137.684906.,white shark,Carcharodon carcharias,unprovoked,coastal,12
1227,2024,injured,SA,-34.3333,135.7500.,NaN,NaN,unprovoked,coastal,1

In [46]:
# replace the nulls with unidentified
clean_df = original_df.fillna('unknown')
clean_df

,Incident.year,Victim.injury,State,Latitude,Longitude,Shark.common.name,Shark.scientific.name,Provoked/unprovoked,Site.category,Incident.month
0,1791,fatal,NSW,-33.86666667,151.2,white shark,Carcharodon carcharias,unprovoked,coastal,1
1,1803,injured,WA,-25.83333333,113.8833333,tiger shark,Galeocerdo cuvier,unprovoked,coastal,3
2,1807,injured,NSW,-33.86666667,151.2,bull shark,Carcharhinus leucas,unprovoked,estuary/harbour,1
3,1820,fatal,TAS,-42.8,147.5333333,unknown,unknown,provoked,coastal,1
4,1825,injured,NSW,-33.85,151.2166667,bull shark,Carcharhinus leucas,unprovoked,estuary/harbour,1
...,...,...,...,...,...,...,...,...,...,...
1223,2023,injured,QLD,-14.06549,144.26335,unknown,unknown,provoked,coastal,11
1224,2023,injured,WA,-30.81556,115.19234,bronze whaler shark,Carcharhinus brachyurus,unprovoked,island open ocean,12
1225,2023,injured,NSW,-31.9694,152.5863946,unknown,unknown,unprovoked,coastal,12
1226,2023,fatal,SA,-34.679356,137.684906.,white shark,Carcharodon carcharias,unprovoked,coastal,12
1227,2024,injured,SA,-34.3333,135.7500.,unknown,unknown,unprovoked,coastal,1